#map {
    height: 100vh;
    z-index: 1;
}

#noMap {
    height: 100vh;
    z-index: 2;
}

#mapid {
    height: 100vh;
}

#adress {
    width: 50%;
}

.search {
    text-align: center;
    margin-top: 10px;
}

.vocal {
    text-align: center;
}

#progress-bar {
    margin-top: 15px;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.form {
    margin-top: 10px;
    margin-left: 5px;
    width: 90%;
}

.textarea {
    min-height: inherit;
    height-min: 120px;
}

.leaflet-popup-content {
    width: 300px;
}

.explanation {
    text-align: center;
}

p,
h4 {
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}